{% load static %}
<header>
  <div class="container_logo">
    <a href="/" title="Retour à l'accueil">
      <img class="logo" src="{% static 'img/logo.png' %}" alt="logo">
    </a>
  </div>
  <nav>
    <li><a href="/">Accueil</a></li>
    {% if is_authenticated %}
      <li><a href="/users/profile">Profile</a></li>
      <li><a href="{% url 'users:logout'%}">Déconnexion</a></li>
    {% else %}
      <li><a href="/users/register">Inscription</a></li>
      <li><a href="/users/login">Connexion</a></li>
    {% endif %}
    <li><a href="/app/orders/basket">Panier</a></li>
  </nav>
</header>
