{% extends "base.html" %} 
{% block content %} 
<section class="container">
  <div class="container_form">
    <form action="">
      <h1>Inscription</h1>

      <div class="input-box">
        <div class="input-flex">
          <input type="text" placeholder="nom" required />
          <!-- <i class="bx bxs-user"></i> -->
          <input type="text" placeholder="prénom" required />
          <!-- <i class="bx bxs-user"></i> -->
        </div>
    
      </div>
  
      <div class="input-box">
        <input type="email" placeholder="email" required />
        <!-- <i class="bx bxs-user"></i> -->
      </div>
      <div class="input-box">
        <input type="password" placeholder="mot de passe" required />
        <!-- <i class="bx bxs-lock-alt"></i> -->
      </div>
      <div class="input-box">
        <input type="password" placeholder="confirmer le mot de passe" required />
        <!-- <i class="bx bxs-lock-alt"></i> -->
      </div>
      <button type="submit" class="btn">S'inscrire</button>
  
      <div class="register-link">
        <p>Avez déjà un compte? <a href=" {% url 'users:login' %} ">Se connecter</a></p>
      </div>
    </form>
  </div>
</section>

{%endblock content %}